.appHeader {
  display: flex;
  align-items: center;
  gap: 16px;

  padding: 16px;
  border-bottom: 1px solid var(--border);
  text-align: left;
}

.appHeader a {
  font-family: var(--heading);
  font-size: 20px;
  font-weight: 500;
  color: var(--text-h);
  text-decoration: none;
  letter-spacing: -0.3px;
}

.appHeader a:hover {
  color: var(--accent);
}
